<ul class="breadcrumb">
  <%= link_to "Back",
              user_path(@user), :class => 'btn'  %>
</ul>

<div class="page-header center">
  <h2><%= @event.name %></h2>
 

  <p class="muted">
  <% if @event.all_day %>
  <p class="muted">- All Day -</p>
  <% else %>
  <p class="muted">From: <%=@event.start_time.strftime("%B %d, at %l:%M %p")%></p>
  <p class="muted">To: <%=@event.ends_at.strftime("%B %d, at %l:%M %p")%></p>
  <% end %>
  
  </p>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span1 center">
    </div>
    <div class="span11">
      <div class="row-fluid">
        <div class="span10">
        <p>Description</p>
        <%= wrap(@event.description)%>
        <br/>
        <br/>
        <p class="muted">From:  <%= @event.author.name %></p>
        </div>
        <div class="span2">

          
        <p><%= link_to "Edit",
                    edit_user_event_path(user_id: @user.id, id: @event.id), :class => 'btn' %></p>
        <p><%= link_to "Delete",
                    user_event_path(user_id: @user.id, id: @event.id),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %></p>

       </div>

      </div>

    </div>
  </div>
</div>
